.skillsBlock {
        height: 100vh;
    background-color: darkgrey;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.skills {
    border: 1px solid;
    width: 100%;
}

.title {
background-color: azure;

}